html {
  -webkit-text-size-adjust: 100%;
  font-synthesis: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  min-block-size: 100svh;
  background: url(/icons-base/bg.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

html,
body {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SF Pro Display"),
    url("../fonts/sfpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SF Pro Display"),
    url("../fonts/sfpro-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --container-w: 390px;

  --inner-shadow: inset 0 1px 0 0 #ffffff;

  /*COLOR STYLES*/
  /*--primary-color: #0000;
  --secondary-color: rgb(60, 60, 67, 0.6);
  --tertiary-color: rgb(60, 60, 67, 0.3);
  --quaternary-color: rgb(60, 60, 67, 0.18);*/

  --primary-color: #ffff;
  --secondary-color: rgb(235, 235, 245, 0.6);
  --tertiary-color: rgb(235, 235, 245, 0.3);
  --quaternary-color: rgb(235, 235, 245, 0.18);

  /*WEATHER COLOR STYLES*/
  --primary-gradient: linear-gradient(45deg, #2e335a, #1c1b33);
  --secondary-gradient: linear-gradient(135deg, #5936b4, #362a84);
  --tertiary-gradient: linear-gradient(135deg, #3658b1, #c159ec);
  --quaternary-gradient: linear-gradient(90deg, #aec9ff, #083072);
  --surface-gradient: radial-gradient(circle at 70% 70%, #f7cbfd, #7758d1);
  --accent-gradient: conic-gradient(
    from 180deg at 30% 30%,
    rgb(97, 47, 171, 0) 14%,
    rgb(97, 47, 171, 1) 36%,
    rgb(97, 47, 171, 0) 63%,
    rgb(97, 47, 171, 1) 75%
  );

  /*FONTS*/

  --caption2-size: 11px;
  --caption2-height: 0.846;
  --caption2-space: 0.07px;

  --caption1-size: 12px;
  --caption1-height: 0.75;
  --caption1-space: 0px;

  --footnote-size: 13px;
  --footnote-height: 0.72;
  --footnote-space: -0.08px;

  --subheadline-size: 15px;
  --subheadline-height: var(--caption1-height);
  --subheadline-space: -0.24px;

  --callout-size: 16px;
  --callout-height: 0.76;
  --callout-space: -0.32px;

  --body-size: 17px;
  --body-height: 0.77;
  --body-space: -0.41px;

  --headline-size: var(--body-size);
  --headline-height: var(--body-height);
  --headline-space: var(--body-space);

  --title3-size: 20px;
  --title3-height: 0.83;
  --title3-space: 0.38px;

  --title2-size: 22px;
  --title2-height: 0.79;
  --title2-space: 0.35px;

  --title1-size: 28px;
  --title1-height: 0.82;
  --title1-space: 0.36px;

  --large-title-size: 34px;
  --large-title-height: var(--title3-height);
  --large-title-space: 0.37px;

  color-scheme: light dark;
}

/*:root[data-theme="dark"] {
  /*COLOR STYLES
  --primary-color: #ffff;
  --secondary-color: rgb(235, 235, 245, 0.6);
  --tertiary-color: rgb(235, 235, 245, 0.3);
  --quaternary-color: rgb(235, 235, 245, 0.18);

  /*WEATHER COLOR STYLES
  --primary-gradient: #48319d;
  --secondary-gradient: #1f1d47;
  --tertiary-gradient: #c427fb;
  --quaternary-gradient: #e0d9ff;
}*/

button,
a[role="button"],
select {
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

.container {
  inline-size: 100svw;
  max-inline-size: var(--container-w);
  min-block-size: 100svh;
  margin: 0 auto;
}
