#weather-widget {
  position: absolute;
  top: 165px;
  left: 26px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  inline-size: 338px;
  block-size: 100svh;
}

.weather-card1 {
  position: absolute;
  inline-size: 342px;
  block-size: 184px;
  border: none;
}

.weather-card-bg1 {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.weather-icon1 img {
  position: absolute;
  z-index: 6;
  top: -14px;
  left: 178px;
  width: 160px;
  height: 160px;
}

.city-temp1 {
  position: absolute;
  left: 20px;
  top: 59px;
  z-index: 7;
  padding: 0;
}

.city-temp1 p {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 62px;
  letter-spacing: 0.37px;
  line-height: 41px;
  font-weight: 400;
}

.weather-desc1 {
  position: absolute;
  z-index: 7;
  top: 124px;
  left: 20px;
  padding: 0;
  margin: 0;
  inline-size: 136px;
  block-size: 41px;
  line-height: 10px;
}

.weather-hum1 {
  margin: 0;
  color: var(--secondary-color);
  font-size: var(--caption1-size);
  line-height: var(--caption1-height);
  letter-spacing: var(--caption1-space);
}

.weather-city-country1 {
  margin: 0;
  margin-top: 10px;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
  font-weight: 300;
}

.weather-card2 {
  position: absolute;
  top: 204px;
  inline-size: 342px;
  block-size: 184px;
  border: none;
}

.weather-card-bg2 {
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.weather-icon2 img {
  z-index: 6;
  position: absolute;
  top: -14px;
  left: 178px;
  width: 160px;
  height: 160px;
}

.city-temp2 {
  position: absolute;
  left: 20px;
  top: 59px;
  z-index: 7;
  padding: 0;
}

.city-temp2 p {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 62px;
  letter-spacing: 0.37px;
  line-height: 41px;
  font-weight: 400;
}

.weather-desc2 {
  position: absolute;
  z-index: 7;
  top: 124px;
  left: 20px;
  padding: 0;
  margin: 0;
  inline-size: 136px;
  block-size: 41px;
  line-height: 10px;
}

.weather-hum2 {
  margin: 0;
  color: var(--secondary-color);
  font-size: var(--caption1-size);
  line-height: var(--caption1-height);
  letter-spacing: var(--caption1-space);
}

.weather-city-country2 {
  margin: 0;
  margin-top: 10px;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
  font-weight: 300;
}
