#weather-widget {
  position: relative;
  top: 10.3rem;
  left: 1.625rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  inline-size: 21.125rem;
  block-size: 52.75rem;
  max-block-size: 100svh;
}

.weather-card1 {
  display: flex;
  inline-size: 21.375rem;
  block-size: 11.5rem;
  border: none;
}

.weather-card-bg1 {
  display: flex;
  bottom: 0;
  z-index: 5;
}

.weather-icon1 img {
  position: absolute;
  z-index: 6;
  top: -0.7rem;
  left: 11.125rem;
  width: 160px;
  aspect-ratio: 1;
}

.city-temp1 {
  position: absolute;
  left: 1.25rem;
  top: 3.69rem;
  z-index: 7;
  padding: 0;
}

.city-temp1 p {
  margin: 0;
  padding: 0;
  font-size: 3.875rem;
  letter-spacing: 0.37px;
  line-height: 41px;
  font-weight: 400;
}

.weather-desc1 {
  position: absolute;
  z-index: 7;
  top: 7.75rem;
  left: 1.25rem;
  padding: 0;
  margin: 0;
  inline-size: 8.5rem;
  block-size: 2.56rem;
  line-height: 10px;
}

.weather-hum1 {
  margin: 0;
  color: var(--secondary-color);
  font-size: var(--caption1-size);
  line-height: var(--caption1-height);
  letter-spacing: var(--caption1-space);
}

.weather-city-country1 {
  margin: 0;
  margin-top: 0.625rem;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
  font-weight: 300;
}

.weather-card2 {
  position: absolute;
  top: 12.75rem;
  inline-size: 21.375rem;
  block-size: 11.5rem;
  border: none;
}

.weather-card-bg2 {
  display: flex;
  bottom: 0;
  z-index: 5;
}

.weather-icon2 img {
  position: absolute;
  z-index: 6;
  top: -0.875rem;
  left: 11.125rem;
  width: 160px;
  aspect-ratio: 1;
}

.city-temp2 {
  position: absolute;
  left: 1.25rem;
  top: 3.69rem;
  z-index: 7;
  padding: 0;
}

.city-temp2 p {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 3.875rem;
  letter-spacing: 0.37px;
  line-height: 41px;
  font-weight: 400;
}

.weather-desc2 {
  position: absolute;
  z-index: 7;
  top: 7.75rem;
  left: 1.25rem;
  padding: 0;
  margin: 0;
  inline-size: 8.5rem;
  block-size: 2.56rem;
  line-height: 10px;
}

.weather-hum2 {
  margin: 0;
  color: var(--secondary-color);
  font-size: var(--caption1-size);
  line-height: var(--caption1-height);
  letter-spacing: var(--caption1-space);
}

.weather-city-country2 {
  margin: 0;
  margin-top: 0.625rem;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
  font-weight: 300;
}
