#weather-by-cities {
  position: relative;
  margin: 0 auto;
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  min-block-size: 47.25rem;
  block-size: 52.75rem;
  background: var(--primary-gradient);
  overflow-y: auto;
  overflow-x: hidden;
}

#weather-by-cities,
#weather-head,
#weather-head-container,
#head-back-btn img {
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
}

#ellipse7-bg {
  top: 5rem;
  left: -3px;
  inline-size: 22rem;
}

#ellipse8-bg {
  top: 29.375rem;
  left: 7.625rem;
  inline-size: 22.8rem;
}

#weather-head {
  position: absolute;
  top: 3rem;
  block-size: 6.625rem;
}

#weather-head-container {
  margin-top: 3px;
  block-size: 3.25rem;
}

#weather-head,
#weather-head-container {
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  border: none;
}

#weather-head,
#weather-head-container,
#weather-head-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#weather-head-left {
  gap: 0.3125rem;
  inline-size: 12.19rem;
}

#weather-head-left,
#head-back-btn img,
#weather-head-right {
  block-size: 100%;
}

#head-back-btn img {
  inline-size: 100%;
}

#head-back-btn {
  display: flex;
  margin-top: 0.875rem;
  margin-left: 0.5rem;
  inline-size: 1.75rem;
  block-size: 1.5rem;
  background: transparent;
  border: none;
  transition: transform 0.2s ease-in-out;
}

#head-back-btn img {
  display: block;
}

#head-back-btn:hover {
  transform: scale(1.1);
}

#head-left-title {
  position: absolute;
  top: 1rem;
  left: 2.44rem;
  margin: 0;
  display: flex;
  inline-size: 6.375rem;
  block-size: 2.125rem;
  color: var(--primary-color);
  font-size: var(--title1-size);
  line-height: var(--title1-height);
  letter-spacing: var(--title1-space);
  font-weight: 300;
}

#weather-head-right {
  position: absolute;
  right: 0;
  padding-block: 0.56rem;
  inline-size: 8rem;
}

#manage-list-btn {
  display: flex;
  justify-self: center;
  background: transparent;
  border: none;
}

#manage-list-btn img {
  inline-size: 100%;
  block-size: 100%;
  transition: transform 0.5s ease-in;
}

#manage-list-btn:hover {
  transform: scale(1.07);
}

#manage-list-btn.active {
  color: #432d84;
  font-weight: bold;
}

#search-bar {
  position: absolute;
  top: 6.3rem;
  left: 50%;
  transform: translateX(-50%);
  block-size: 2.875rem;
  inline-size: calc(100% - 2rem);
  max-inline-size: calc(var(--container-max-w) - 2rem);
  box-sizing: border-box;
}

#search-input-container {
  inline-size: 100%;
  block-size: 100%;
}

#search-input {
  display: flex;
  inline-size: 100%;
  block-size: 2.25rem;
  border: none;
  border-radius: 0.625rem;
  background: linear-gradient(
    180deg,
    rgb(46, 51, 90, 0.26),
    rgb(28, 27, 51, 0.26)
  );
  box-shadow: var(--shadow-inset);
  box-sizing: border-box;
  padding-inline-start: 2.5rem;
}

#search-btn {
  position: absolute;
  top: 0.625rem;
  left: 0.25rem;
  inline-size: 0.98rem;
  block-size: auto;
  background: none;
  border: none;
}

#search-bar img {
  position: absolute;
  inline-size: 100%;
  block-size: auto;
}

#search-input::placeholder {
  position: absolute;
  left: 1.9rem;
  justify-self: center;
  font-size: var(--body-size);
  letter-spacing: var(--callout-space);
  line-height: var(--body-height);
  color: var(--secondary-color);
}

@media (max-width: 389px) {
  #head-back-btn img {
    inline-size: 70%;
    block-size: 70%;
  }

  #head-left-title {
    left: 2.1rem;
    font-size: var(--title2-size);
    line-height: var(--title2-height);
    letter-spacing: var(--title2-space);
  }

  #search-btn {
    top: 0.45rem;
  }

  #search-input {
    block-size: 1.8rem;
  }

  #search-bar img {
    inline-size: 0.79rem;
  }

  #search-input::placeholder {
    font-size: var(--subheadline-size);
    letter-spacing: var(--subheadline-space);
    line-height: var(--subheadline-height);
  }
}
