#weather-by-cities {
  position: relative;
  inline-size: var(--container-w);
  block-size: 100svh;
  background: var(--primary-gradient);
}

#ellipse7-bg {
  position: absolute;
  top: 5rem;
  left: -3px;
  width: 22rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: var(--accent-gradient);
  opacity: 0.8;
  filter: blur(90px);
}

#ellipse8-bg {
  position: absolute;
  top: 29.375rem;
  left: 7.625rem;
  width: 22.8rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: var(--accent-gradient);
  opacity: 0.8;
  filter: blur(90px);
}

#weather-head {
  position: absolute;
  top: 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
  inline-size: 100%;
  block-size: 6.625rem;
  border: none;
}

#weather-head-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3px;
  border: none;
  inline-size: 100%;
  block-size: 3.25rem;
}

#weather-head-left {
  gap: 0.3125rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  inline-size: 12.19rem;
  block-size: 100%;
}

#head-back-btn {
  display: flex;
  margin-top: 0.875rem;
  margin-left: 0.5rem;
  inline-size: 1.75rem;
  block-size: 1.5rem;
  background: transparent;
  border: none;
}

#head-back-btn img {
  display: block;
  width: 100%;
  height: 100%;
}

#head-left-title {
  position: absolute;
  top: 1rem;
  left: 2.44rem;
  display: flex;
  margin: 0;
  inline-size: 6.375rem;
  block-size: 2.125rem;
  color: var(--primary-color);
  font-size: var(--title1-size);
  line-height: var(--title1-height);
  letter-spacing: var(--title1-space);
  font-weight: 300;
}

#weather-head-right {
  position: absolute;
  left: 12.19rem;
  padding: 0.56rem 0.56rem 0.56rem 1rem;
  inline-size: 12.19rem;
  block-size: 100%;
}

#manage-list-btn {
  display: flex;
  justify-self: self-end;
  left: 9.125rem;
  background: transparent;
  border: none;
}

#search-bar {
  position: absolute;
  top: 3.75rem;
  display: flex;
  margin: 0;
  block-size: 2.875rem;
  inline-size: var(--container-w);
}

#search-input {
  display: flex;
  margin-left: 1rem;
  padding: 0.44rem 0.5rem;
  inline-size: 22.375rem;
  block-size: 2.25rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(46, 51, 90, 0.26),
    rgb(28, 27, 51, 0.26)
  );
  box-shadow: var(--shadow-inset);
}

#search-bar img {
  position: absolute;
  top: 0.72rem;
  left: 1.5rem;
  justify-self: center;
  width: 15.63px;
  aspect-ratio: 1;
}

#search-input::placeholder {
  position: absolute;
  left: 28.63px;
  justify-self: center;
  font-size: var(--body-size);
  letter-spacing: var(--callout-space);
  line-height: var(--body-height);
  color: var(--secondary-color);
}
