#current-weather {
  position: absolute;
  top: 98px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  align-items: center;
  inline-size: var(--container-w);
  block-size: 183px;
  text-align: center;
  color: var(--primary-color);
}

.current {
  margin: 0;
}

.current-city {
  display: flex;
  justify-self: center;
  inline-size: 129px;
  block-size: 41px;
  font-weight: 300;
  font-size: var(--large-title-size);
  line-height: var(--large-title-height);
  letter-spacing: var(--large-title-space);
}

.current-temp {
  inline-size: 127px;
  block-size: 70px;
  margin-bottom: 12px;
  font-size: 96px;
  line-height: 70px;
  letter-spacing: var(--large-title-space);
  text-align: center;
  font-weight: 200;
}

.current-desc-hum {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 115px;
  block-size: 48px;
  font-size: var(--title3-size);
  letter-spacing: var(--title3-space);
  text-wrap: nowrap;
  font-weight: 400;
}

.current-desc {
  color: var(--secondary-color);
}
