#current-weather {
  position: absolute;
  top: 6.125rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  block-size: 11.44rem;
  text-align: center;
  color: var(--primary-color);
}

.current {
  margin: 0;
}

.current-city {
  display: flex;
  justify-self: center;
  inline-size: 8rem;
  block-size: 2.56rem;
  font-weight: 300;
  font-size: var(--large-title-size);
  line-height: var(--large-title-height);
  letter-spacing: var(--large-title-space);
}

.current-temp {
  inline-size: 7.94rem;
  block-size: 4.375rem;
  margin-bottom: 0.75rem;
  font-size: 6rem;
  line-height: 70px;
  letter-spacing: var(--large-title-space);
  text-align: center;
  font-weight: 200;
}

.current-desc-hum {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 7.19rem;
  block-size: 3rem;
  font-size: var(--title3-size);
  letter-spacing: var(--title3-space);
  text-wrap: nowrap;
  font-weight: 400;
}

.current-desc {
  color: var(--secondary-color);
}
