.app-footer {
  position: absolute;
  top: 46.5rem;
  z-index: 100;
  inline-size: 100%;
  block-size: 6.25rem;
  border: none;
  overflow: hidden;
}

#footer-back {
  position: absolute;
  top: 0.75rem;
  inline-size: 100%;
  block-size: 5.5rem;
}

#back-btns {
  position: absolute;
  left: 2rem;
  top: 1.25rem;
  display: flex;
  justify-content: space-between;
  gap: auto;
  align-items: center;
  inline-size: 20.375rem;
  block-size: auto;
}

.btn-footer {
  padding: 0;
  inline-size: 2.75rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
}

#footer-separator {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--container-w);
  height: 1.5rem;
  fill: none;
}

#footer-separator path {
  stroke: rgb(117, 130, 244, 0.5);
  stroke-width: 0.5;
  fill: none;
}

#footer-center {
  position: absolute;
  left: 4.125rem;
  inline-size: 16.125rem;
  block-size: 6.25rem;
}

#footer-substract {
  position: absolute;
  top: 3px;
  inline-size: 16.125rem;
  block-size: 6.25rem;
}

#add-city-bg {
  position: absolute;
  top: 0.75rem;
  left: 96.5px;
  z-index: 50;
  align-self: center;
  inline-size: 4rem;
  aspect-ratio: 1;
  padding: 0;
  border: none;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.4) 76%
  );
}

#add-city-btn {
  position: absolute;
  top: 1rem;
  left: 6.25rem;
  z-index: 51;
  inline-size: 3.625rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, #f5f5f9, #dadfe7);
  box-shadow: 10px 10px 20px 7px rgba(13, 20, 49, 0.5),
    -10px -10px 15px 1px rgba(255, 255, 255, 0.15), inset 1px 1px 0.5px 0px #fff,
    inset -2px -4px 8px 0px rgba(100, 100, 100, 0.78);
}

#add-city-btn img {
  align-self: center;
  justify-self: center;
  background: transparent;
}
