.app-footer {
  bottom: 0;
  z-index: 100;
  block-size: 6.25rem;
  border: none;
  overflow: hidden;
}

.app-footer,
#footer-back,
#back-btns,
#footer-separator {
  position: absolute;
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
}

#footer-back {
  top: 0.75rem;
  block-size: 5.5rem;
}

#back-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  padding: 0 var(--spacing-lg);
  margin-top: var(--spacing-md);
  box-sizing: border-box;
}

.btn-footer {
  padding: 0;
  inline-size: 2.75rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
}

.btn-footer img {
  inline-size: 100%;
  block-size: 100%;
}

#footer-separator {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  block-size: 1.5rem;
  fill: none;
}

#footer-separator path {
  stroke: rgb(117 130 244 / 50%);
  stroke-width: 0.5;
  fill: none;
}

#footer-center,
#footer-substract {
  position: absolute;
  inline-size: 16.125rem;
  block-size: 6.25rem;
}

#footer-center {
  left: 50%;
  transform: translateX(-50%);
}

#footer-substract {
  top: 3px;
}

#add-city-bg {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  inline-size: 4rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 0.4) 76%
  );
}

#add-city-btn {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 51;
  inline-size: 3.625rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: linear-gradient(135deg, rgb(245 245 249), rgb(218 223 231));
  box-shadow: 10px 10px 20px 7px rgba(13 20 49 / 50%),
    -10px -10px 15px 1px var(--white-015),
    inset 1px 1px 0.5px 0px var(--primary-color),
    inset -2px -4px 8px 0px rgba(100 100 100 / 78%);
}

#add-city-btn img {
  align-self: center;
  justify-self: center;
  background: transparent;
}

#scroll-arrow {
  position: absolute;
  right: 0;
  top: -2.7rem;
  margin-inline-end: 1.7rem;
  font-size: var(--title2-size);
  background: none;
  border: none;
  color: var(--pink-color);
}

@media (max-width: 389px) {
  .app-footer {
    block-size: 5.5rem;
  }

  #back-btns {
    padding: 0 var(--spacing-sm);
    inline-size: 100%;
    max-inline-size: var(--container-max-w);
  }
}
