#hero-forecasts {
  position: absolute;
  top: 32.5rem;
  z-index: 5;
  display: block;
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  block-size: 28.3rem;
  border: none;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background: linear-gradient(
    45deg,
    rgb(46, 51, 90, 0.26),
    rgb(28, 27, 51, 0.26)
  );
  backdrop-filter: blur(15px);
  box-shadow: var(--inner-shadow);
}

.forecast {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  z-index: 999;
  justify-content: center;

  align-items: center;
  flex-shrink: 0;
  padding: var(--spacing-sm) var(--spacing-xs);
  margin-block: var(--spacing-xs);
  inline-size: 3.125rem;
  max-block-size: 9.125rem;
  block-size: auto;
  border: none;
  border-radius: var(--radius-xl);
  background-color: var(--purple-color-03);
  color: var(--primary-color);
  text-align: center;
  box-shadow: var(--shadow-card);
  transition: transform 0.3s ease-in-out;
  scroll-snap-align: start;
}

.forecast:hover {
  background-color: var(--purple-color);
  transform: scale(1.02);
}

.forecast.active {
  background-color: var(--purple-color);
  transform: scale(1.08);
}

.temp-by-period {
  margin: 0;
  font-size: var(--title3-size);
  line-height: var(--title3-height);
  letter-spacing: var(--title3-space);
}

.forecast-by-hours,
.forecast-by-days {
  display: flex;
  gap: 1.25rem;
  margin-top: 3.5rem;
  margin-left: var(--spacing-md);
  padding-right: var(--spacing-md);
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

.forecast-by-hours::-webkit-scrollbar,
.forecast-by-days::-webkit-scrollbar {
  display: none;
}

.hour,
.day {
  margin: 0;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
}

.forecast-weather-icon {
  inline-size: 2.75rem;
  block-size: 2.375rem;
}

@media (max-width: 389px) {
  .temp-by-period {
    font-size: var(--body-size);
    font-weight: 300;
  }

  .hour,
  .day {
    font-size: var(--footnote-size);
    line-height: var(--footnote-height);
    letter-spacing: var(--footnote-space);
  }

  #hero-forecasts {
    top: 28.5rem;
    block-size: 19.3rem;
  }

  .forecast {
    gap: 0.5rem;
  }

  .forecast-weather-icon {
    inline-size: 1.8rem;
    block-size: 1.8rem;
  }
}
