#hero-forecasts {
  position: absolute;
  top: 32.44rem;
  z-index: 5;
  display: block;
  inline-size: var(--container-w);
  block-size: 20.3rem;
  border: none;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: linear-gradient(
    45deg,
    rgb(46, 51, 90, 0.26),
    rgb(28, 27, 51, 0.26)
  );
  backdrop-filter: blur(15px);
  overflow: hidden;
  box-shadow: var(--inner-shadow);
}

.forecast {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  max-inline-size: 3.75rem;
  inline-size: auto;
  max-block-size: 9.125rem;
  block-size: auto;
  border: none;
  border-radius: 30px;
  background-color: rgba(72, 49, 157, 0.3);
  color: var(--primary-color);
  text-align: center;
  box-shadow: var(--shadow-card);
  transition: transform 0.3s ease-in-out;
}

.forecast:hover {
  background-color: #48319d;
  transform: scale(1.05);
}

.temp-by-period {
  margin: 0;
  font-size: var(--title3-size);
  line-height: var(--title3-height);
  letter-spacing: var(--title3-space);
}

.forecast-by-hours,
.forecast-by-days {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 4.3rem;
  margin-left: 1.25rem;
  display: grid;
  column-gap: 0.75rem;
  inline-size: var(--container-w);
}

.hour,
.day {
  margin: 0;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
}

.forecast-weather-icon {
  inline-size: 2.75rem;
  block-size: 2.375rem;
}
