#hero-bg {
  position: absolute;
  min-inline-size: 100svw;
  min-block-size: 100svh;
  background: url(/icons-base/bg.svg) no-repeat;
  background-size: auto;
  background-position: center;
  background-color: var(--primary-color);
  overflow: hidden;
}

#rectangle1-bg {
  position: absolute;
  top: 21.5rem;
  z-index: 0;
  width: var(--container-w);
  height: 31.25rem;
  background: linear-gradient(
    180deg,
    rgb(58, 63, 84, 0) 12%,
    rgb(58, 63, 84, 1) 58%
  );
  border: none;
  border-radius: 30px;
}

#rectangle2-bg {
  position: absolute;
  top: 32.44rem;
  z-index: 1;
  inline-size: var(--container-w);
  block-size: 20.3rem;
  box-shadow: var(--inner-shadow);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
  mix-blend-mode: overlay;
  border: none;
  border-top-left-radius: 44px;
  border-top-right-radius: 44px;
  background: linear-gradient(
    120deg,
    rgba(46, 51, 90, 0.2) 0%,
    rgba(28, 27, 51, 0.2) 100%
  );
}

#ellipse1-bg {
  position: absolute;
  top: 34.82rem;
  left: 11.94rem;
  z-index: 4;
  display: flex;
  width: 15.625rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: var(--accent-gradient);
  filter: blur(40px);
  -webkit-filter: blur(40px);
}

#ellipse2-bg {
  position: absolute;
  top: -2rem;
  left: 3rem;
  z-index: 3;
  display: flex;
  width: 17.875rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background: rgb(196, 39, 251, 0.5);
  filter: blur(60px);
  -webkit-filter: blur(60px);
  overflow: hidden;
}

#ellipse4-bg {
  position: absolute;
  top: 50.2rem;
  left: 2.69rem;
  z-index: 4;
  display: flex;
  width: 26.56rem;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  background: var(--accent-gradient);
  filter: blur(80px);
}

#ellipse6-bg {
  position: absolute;
  top: 36.5rem;
  left: 16.94rem;
  z-index: 4;
  display: flex;
  width: 15.625rem;
  aspect-ratio: 1;
  background: conic-gradient(
    from 180deg,
    rgb(97, 47, 171, 0) 14%,
    rgb(97, 47, 171, 1) 36%,
    rgb(97, 47, 171, 0) 63%,
    rgb(97, 47, 171, 1) 87%
  );
  border: none;
  border-radius: 50%;
  filter: blur(50px);
  -webkit-filter: blur(50px);
}

#house-img-bg {
  position: absolute;
  top: 19rem;
  width: 100svw;
  max-height: 100svh;
  z-index: 1;
}
