#hero-bg {
  background: url(../icons-base/bg.svg) no-repeat;
  background-size: auto;
  background-position: center;
  overflow: hidden;
  pointer-events: none;
}

#hero-bg.daytime-bg {
  background-image: url(../icons-base/bg-sky.webp);
  background-size: cover;
  background-position: center;
}

#hero-bg,
#house-img-bg {
  position: absolute;
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  max-block-size: var(--container-max-h);
}

#rectangle1-bg {
  top: 21.5rem;
  z-index: 0;
  block-size: 31.25rem;
  background: linear-gradient(
    180deg,
    rgba(58, 63, 84, 0) 12%,
    rgba(58, 63, 84, 1) 58%
  );
  border-radius: var(--radius-xl);
}

#rectangle2-bg {
  top: 32.44rem;
  z-index: 1;
  block-size: 20.3rem;
  box-shadow: var(--inner-shadow);
  backdrop-filter: blur(22px);
  mix-blend-mode: overlay;
  border-top-left-radius: 2.75rem;
  border-top-right-radius: 2.75rem;
  background: linear-gradient(
    120deg,
    rgba(46, 51, 90, 0.2) 0%,
    rgba(28, 27, 51, 0.2) 100%
  );
}

#ellipse1-bg {
  top: 34.82rem;
  left: 11.94rem;
  inline-size: 15.625rem;
  filter: blur(40px);
}

#ellipse2-bg {
  top: -2rem;
  left: 3rem;
  inline-size: 17.875rem;
  block-size: 2rem;
  background-color: rgb(196 39 251 / 50%);
  filter: blur(60px);
  overflow: hidden;
}

#ellipse4-bg {
  top: 50.2rem;
  left: 2.69rem;
  inline-size: 26.56rem;
  filter: blur(80px);
}

#ellipse6-bg {
  top: 36.5rem;
  left: 16.94rem;
  inline-size: 15.625rem;
  background: conic-gradient(
    from 180deg,
    rgba(97, 47, 171, 0) 14%,
    rgba(97, 47, 171, 1) 36%,
    rgba(97, 47, 171, 0) 63%,
    rgba(97, 47, 171, 1) 87%
  );
  filter: blur(50px);
}

#house-img-bg {
  top: 19rem;
  z-index: 1;
}

@media (max-width: 389px) {
  #house-img-bg {
    top: 17.3rem;
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  #house-img-bg {
    top: 17.5rem;
  }
}

@media (min-height: 845px) {
  #hero-bg {
    min-block-size: 844px;
    max-block-size: 844px;
  }
}
