.home-indicator {
  block-size: 3.06rem;
  margin-left: 0;
  border-top-left-radius: 2.75rem;
  border-top-right-radius: 2.75rem;
}

.home-indicator,
#forecast-btns-separator,
#forecast-btns-underline {
  position: absolute;
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  border: none;
}

#shape-toggle {
  display: flex;
  margin-top: 0.5rem;
  justify-self: center;
  inline-size: 3rem;
  block-size: 5px;
  border: none;
  border-radius: 0.625rem;
  background-color: var(--black-03);
  box-shadow: var(--drop-shadow);
}

#forecast-btns-separator {
  top: 3rem;
  block-size: 1px;
  border-top: 1px solid var(--white-01);
  background: none;
}

#forecast-btns-separator::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 1px 0 0 var(--black-03);
  mix-blend-mode: overlay;
}

#forecast-btns-underline {
  top: 2.94rem;
  block-size: 3px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 3%,
    rgba(255, 255, 255, 0.4) 22%,
    rgba(255, 255, 255, 0) 44%
  );
  mix-blend-mode: overlay;
  overflow: hidden;
}

.forecasts-btns {
  display: grid;
  grid-template-columns: auto auto;
  inline-size: 100%;
  max-inline-size: var(--container-max-w);
  block-size: 100%;
}

.forecasts-btns button {
  background: none;
  border: none;
  color: var(--secondary-color);
  font-family: "Inter";
  font-size: var(--subheadline-size);
  letter-spacing: var(--subheadline-space);
  line-height: var(--subheadline-height);
  font-weight: 500;
}

#hourly-forecast-btn {
  position: absolute;
  top: 1.7rem;
  left: 2rem;
}

#weekly-forecast-btn {
  position: absolute;
  top: 1.7rem;
  left: 15.19rem;
}

@media (max-width: 389px) {
  .forecasts-btns button {
    font-size: var(--footnote-size);
    letter-spacing: var(--footnote-space);
    line-height: var(--footnote-height);
    font-weight: 400;
  }

  #hourly-forecast-btn {
    left: 1.9rem;
  }

  #weekly-forecast-btn {
    left: 11.19rem;
  }
}
