#hourly-forecast-container {
  position: absolute;
  display: block;
  top: 519px;
  inline-size: var(--container-w);
  block-size: 325px;
  background: linear-gradient(
    45deg,
    rgb(46, 51, 90, 0.26),
    rgb(28, 27, 51, 0.26)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 1;
  object-fit: cover;
  border: none;
  border-radius: 44px;
  overflow: hidden;
  box-shadow: var(--inner-shadow);
}
