#hero-forecasts {
  position: absolute;
  top: 519px;
  inline-size: var(--container-w);
  block-size: 325px;
  border: none;
  border-radius: 30px;
}

#hourly-forecast-container {
  position: absolute;
  display: block;
  top: 519px;
  inline-size: var(--container-w);
  block-size: 325px;
  background: linear-gradient(45deg, rgb(46, 51, 90, 1), rgb(28, 27, 51, 1));
  opacity: 0.26;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  object-fit: cover;
  border: none;
  border-radius: 44px;
  overflow: hidden;
  box-shadow: var(--inner-shadow);
}

.forecast-by-hours {
  position: absolute;
  display: grid;
  top: 69px;
  margin-left: 20px;
}

.forecast-hour {
  display: grid;
  gap: 16px;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  max-inline-size: 60px;
  inline-size: auto;
  max-block-size: 146px;
  block-size: auto;
  border-radius: 30px;
  background-color: rgba(72, 49, 157, 0.2);
  color: var(--primary-color);
  text-align: center;
  box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.25),
    5px 4px 10px 0 rgba(0, 0, 0, 0.25), inset 0 0 0 1px rgba(255, 255, 255, 0.2);
}

.hour {
  margin: 0;
  color: var(--primary-color);
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
}

.forecast-weather-icon {
  top: 52px;
  left: 8px;
  inline-size: 44px;
  block-size: 38px;
}

.temp-by-hour {
  margin: 0;
  color: var(--primary-color);
  font-size: var(--title3-size);
  line-height: var(--title3-height);
  letter-spacing: var(--title3-space);
}
