#map {
  margin: 1.25rem 0;
  inline-size: 100%;
  block-size: 52.75rem;
  max-block-size: 52.75rem;
  border-radius: 0.75rem;
  overflow: hidden;
  background: var(--surface-gradient);
  box-shadow: var(--drop-shadow);
}

#map-weather-info {
  margin-top: 1.25rem;
}

.map-weather-card {
  padding: 1.25rem;
  background-color: var(--tertiary-color);
  border-radius: 0.75rem;
  backdrop-filter: blur(10px);
}

.map-weather-card p {
  margin: 0.5rem 0;
  font-size: var(--callout-size);
}

.map-weather-card button {
  margin-top: 1rem;
  padding: 0.625rem 1.25rem;
  background-color: var(--tertiary-color);
  color: #7758d1;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: var(--callout-size);
  transition: transform 0.2s ease-in-out;
}

.map-weather-card button:hover {
  transform: scale(1.05);
  color: #432d84;
}

.map-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

#map-back-btn {
  padding: 0.625rem 1rem;
  background-color: #7758d1;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#map-back-btn:hover {
  transform: scale(1.05);
  background-color: #432d84;
}

#weather-by-cities,
#weather-map-search {
  margin: 0 auto;
  padding: 1.25rem;
  max-inline-size: var(--container-max-w);
}
