.forecast-by-days {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.75rem;
  top: 4.3rem;
  left: 1.25rem;
}

.forecast {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  max-inline-size: 3.75rem;
  inline-size: auto;
  max-block-size: 9.125rem;
  block-size: auto;
  border: none;
  border-radius: 30px;
  background-color: rgba(72, 49, 157, 0.3);
  color: var(--primary-color);
  text-align: center;
  box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.3),
    inset 1px 1px 0px 0px rgba(255, 255, 255, 0.15);
  transition: transform 0.3s ease-in-out;
}

.forecast:hover {
  background-color: #48319d;
  transform: scale(1.05);
}

.day {
  margin: 0;
  font-size: var(--subheadline-size);
  line-height: var(--subheadline-height);
  letter-spacing: var(--subheadline-space);
}

.forecast-weather-icon {
  top: 3.25rem;
  left: 0.5rem;
  width: 2.75rem;
  height: 2.375rem;
}

.temp-by-day {
  margin: 0;
  font-size: var(--title3-size);
  line-height: var(--title3-height);
  letter-spacing: var(--title3-space);
}
